<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Pool table image:</h3>
        </div>
        <hr />
        <div>
            <form action="upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file"><br /><br />
                <input type="submit" value="Upload">
            </form>
        </div>

        <br><br>
        <a href="{{ url_for('showLog') }}" target="_blank"> Show log</a>
    </div>


</body>
</html>
